#App{
  
  text-align: center;
}
#scoreboard{
  display:flex;
  margin: 0px auto;
  height:100px;
  background: grey;
  justify-content: center;
}
#home{
  display: flex;
  height: 200px;
  width: 200px;
  background-color: lightgreen;;
}
#away{
  display: flex;
  background-color: red;
  height: 200px;
  width: 200px;
}
#scoring{
  display: flex;
  margin: 0px auto;
  background-color: lightgray;
  height: 400px;
}
#homeS{
  display: flex;
  height:200px;
  width: 600px;
  background-color: lightgreen;
}
#awayS{
  display: flex;
  height:200px;
  width: 600px;
  background-color: lightpink;
}
button{
  color: white;
  height: 50px;
  width: 50px;
  margin: 5px;
  background-color: black;

}
#awayBut{
  flex-direction: column;
  height: 400px;
  width: 200px;
  display: flex;
  background-color: red;
  float: right;
}
#homeBut{
  flex-direction: column;
  height: 400px;
  width: 200px;
  display: flex;
  background-color: green;
  float: left;
}
