#App{
  display:flex;
  text-align: center;
}
#scoreboard{
  width: 1600px;
  display:flex;
  margin: 0px auto;
  height:100px;
  background: grey;
  justify-content: space-between;
}
.home{
  display: flex;
  height: 94px;
  width: 194px;
  background-color: green;
  border: 3px solid black;
}
.away{
  display: flex;
  background-color: red;
  height: 94px;
  width: 194px;
  border: 3px solid black;
}
#scoring{
  display: flex;
  margin: 0px auto;
  justify-content: center;
}
.homeS{
  display: flex;
  height:150px;
  width: 600px;
  background-color: lightgreen;
}
.awayS{
  display: flex;
  height:150px;
  width:600px;
  background-color: lightpink;
}
button{
  color: white;
  height: 50px;
  width: 50px;
  margin: 5px;
  background-color: black;
}
#awayBut{
  padding-top: 10px;
  text-align: center;
  display: block;
  flex-direction: column;
  height: 440px;
  width: 200px;
  background-color: red;
}
#homeBut{
  padding-top: 10px;
  text-align: center;
  display: block;
  flex-direction: column;
  height: 440px;
  width: 200px;
  background-color: green;
}
