#App{
  
  text-align: center;
}
#scoreboard{
  display:flex;
  margin: 0px auto;
  height:100px;
  width: 600px;
  background: grey;
  justify-content: center;
}
#home{
  display: flex;
  height: 100px;
  width: 100px;
  background-color: lightgreen;;
}
#away{
  background-color: red;
  height: 100px;
  width: 100px;
}
#scoring{
  display: flex;
  margin: 0px auto;
  background-color: lightgray;
  height: 300px;
  width: 600px;
}